@{
	ViewData["Title"] = "Home Page";
}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Your Page Title</title>
	<link href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple" rel="stylesheet">
</head>
<body>
	<div class="text-center">
		<h1 class="display-3 text-light cover-title">Weather Wonders</h1>
		<img src="Images/main-weather-pic.jpg" class="rounded-image" />

	</div>
</body>
</html>