html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("../Images/new-cloud.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.rounded-image {
    border-radius: 50px;
}

.cover-title {
    margin-top: 80px;
    font-family: "Rancho&effect", sans-serif;
    font-size: 60px;
    text-shadow: 4px 4px 4px #1c1a1a;
}